.copyContainer {
  /* Base styles */
  display: flex;
  flex-direction: column;
  position: absolute;
  color: white;
  border: 1px solid white;
  border-radius: 0.25rem;
  padding: 0.5rem;
  left: 30px;
  bottom: 100px;

  /* HR styles */
  hr {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  /* CopyHeading styles */
  .copyHeading {
    font-size: 1.25rem;
  }

  /* CopyDescription styles */
  .copyDescription {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
  }

  .cursorPointer {
    cursor: pointer;
  }
  
}
